* {
  width: 100vw;
  margin: 0;
}

.bg {
  //background-image: url("images/Shop/FishStand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12%;
  margin: 0;
}

.arrow {
  position: absolute;
  width: 15%;
  height: auto;
  top: 50px;
  left: 10px;
}
