* {
  width: 100vw;
  margin: 0;
}

.bg {
  background-image: url("Assets/Images/Shop/FishStand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.arrow {
  position: absolute;
  transform: rotate(180deg);
  width: 10%;
  height: auto;
  top: 10px;
  left: 45px;
}

.testButton {
  position: absolute;
  text-align: center;
}

.watermark {
  position: absolute;
  color: black;
  font-style: italic;
  font-size: 20px;
  opacity: 50%;
  left: 2.5%;
  bottom: 17.5%;
  width: 30%;
}

.grid-containter {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 0fr);

  position: absolute;

  bottom: 200px;
  justify-content: center;
}

.grid-item {
  position: relative;
  width: 20px;
  border: 1px solid black;
  padding: 60px;
  aspect-ratio: 1 / 1;

  gap: 50px 50px;
  background-color: #eae295;
  text-align: left;
  cursor: pointer;
}

.inv-img {
  position: absolute;
  z-index: 10;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.grid-containter2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.grid-item2 {
  flex: 1;
  position: relative;
  width: 20%;
  border: 1px solid black;
  padding: 100px 160px;

  gap: 50px 50px;
  background-color: #eae295;
  text-align: left;
  cursor: pointer;
}

.display-money {
  position: absolute;
  width: 10%;
  left: 4%;
  top: 17%;
  font-size: 2em;
  color: white;
}

.item-count {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 5%;
  z-index: 10;
}

.inv-price {
  position: absolute;
  z-index: 10;
  width: 60%;
  height: auto;
  top: -31%;
  left: 50%;
  transform: translate(-70%, 0);
}

#price {
  width: 10%;
  position: absolute;
  z-index: 11;
  top: -30%;
  right: 5%;
  color: purple;
  background-color: white;
  text-align: center;
  font-size: 2em;
  padding: 0 7px;
}

.pilsPrice {
  width: 10%;
  position: absolute;
  z-index: 11;
  top: -30%;
  right: -2%;
  color: purple;
  background-color: white;
  text-align: center;
  font-size: 2em;
  padding-left: 7px;
  padding-right: 22px;
}

.fish-price {
  position: absolute;
  z-index: 10;
  width: 30%;
  height: auto;
  bottom: 3%;
  left: 20%;
}

.fishPrice {
  width: 10%;
  position: absolute;
  bottom: 8%;
  left: 55%;
  text-align: center;
  color: purple;
  background-color: white;
  font-size: 2em;
}
